.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: start;
}

.product-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}
